body {
	
}
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
h1 {
	text-align: center;
	color: green;
}

.coner-box {
	border: 2px solid black;
	background-color: white;
	position: top-right;
	float: right;
}
p {
	width: 90%;
	height: 150%;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 992px) {
  .top-row-box {
    width: 33%;
  }
  .bottom-row-box {
  	width: 33%;
  }
 
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-row-box {
    width: calc(50% - 5px);
  }
  .bottom-row-box {
  	width: 100%;
  }
}
@media (max-width: 767px) {
  .top-row-box {
    width: 100%;
  }
  .bottom-row-box {
  	width: 100%;
  }
}

.box {
	margin: 10px;
	padding: 10px;
	background-color: #999;
	border: 3px solid #333;
	min-height: 180px;


}

.inline-box {
	display: inline-block;

}








